<nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="Login/Home">خانه</a></li>
          <li><a href="#">درباره ما</a></li>
          <li><a href="Login/Home/Dashboard">گزارش فعالیت ها من</a></li>
            <li><a href="Login/Home/AdvanceSearch">جستجوی پیشرفته</a></li>
        </ul>
        <form class="navbar-form navbar-right">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="نام پزشک">
          <input type="text" class="form-control" placeholder="فامیل پزشک">
          </div>
            <button type="submit" class="btn btn-success">بگرد </button>
        </form>
      </div>
    </nav>