<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard Activity</title>
    <meta charset="UTF-8">
    <title>وارد کردن اطلاعات</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        *{
            direction: rtl;
        }
        .Adjust_width{
            width: 40%;
        }
{#        body {#}
{#	padding-top:70px;#}
{#}#}
{##}
{#.navbar-header {#}
{#  float: none;#}
{#}#}
{#.navbar-toggle {#}
{#  display: block;#}
{#}#}
{#.navbar-collapse.collapse {#}
{#  display: none!important;#}
{#}#}
{#.navbar-nav {#}
{#  float: none!important;#}
{#}#}
{#.navbar-nav>li {#}
{#  float: none;#}
{#}#}
{#.navbar-collapse.collapse.in{#}
{#  display:block !important;#}
}
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">درباره ما</a></li>
            <li><a href="{% url 'Super_users:Login' %}">ورود</a></li>
        </ul>
      </div>
    </nav>
    <div>
        <h3> خروج با موفقیت انجام شد</h3>
    </div>
</body>
</html>